<div class="flexrow no-wrap currencies" style="max-height:20px">

     <div class="flex1 center">Bourse</div>
    <div class="flex1 center coin">
        <i title="Or" class="fas fa-coins" style="color:goldenrod"></i>
        <input class="field-value coin-field" name="system.currency.gp.qty" type="number" value="{{system.currency.gp.qty}}" placeholder="Or" data-dtype="Number"/>
    </div>
    <div class="flex1 center coin">
        <i title="Argent" class="fas fa-coins" style="color:silver"></i>
        <input class="field-value center coin-field" name="system.currency.sp.qty" type="number" value="{{system.currency.sp.qty}}" placeholder="Argent" data-dtype="Number"/>
    </div>
    <div class="flex1 center coin">
        <i title="Bronze" class="fas fa-coins" style="color:saddlebrown"></i>
        <input class="field-value coin-field" name="system.currency.cp.qty" type="number" value="{{system.currency.cp.qty}}" placeholder="Bronze" data-dtype="Number"/>
    </div>
        <div class="flex1 center coin">
        <i title="Fer" class="fas fa-coins" style="color:dimgray"></i>
        <input class="field-value coin-field" name="system.currency.fp.qty" type="number" value="{{system.currency.fp.qty}}" placeholder="Fer" data-dtype="Number"/>
    </div>
</div>

    <ol class="inventory-list">
        <li class="inventory-header flexrow">
            <div class="item-name flexrow"></div>
            <div class="item-detail">Qté</div>
            <div class="item-detail">Equiper</div>
             {{!-- <div class="item-detail">Roll</div>--}}
            <div class="item-controls">
                <a class="item-control item-create new-item" title="Ajouter un objet"><i class="fas fa-plus"></i></a>   
                    <i class="fas fa-folder-plus"></i>
                </a>
            </div>
        </li>
        {{#if (notEmpty (getInventory actor.items))}}
        
        {{#each (getArraySubCategorywithItems actor.items)}}
                {{#if (notEmpty this.items)}}
                    <li class="inventory-header flexrow"><div class="item-name center flexrow">{{localize this.value}}</div></li>
                {{#each this.items}}
                        {{> "systems/valombreuse/templates/actors/character/parts/inventory/character-inventory-item.hbs" this}}
                    {{/each}}
                {{/if}}
        {{/each}}

     

        {{else}}
            <p>Votre inventaire est vide.</p>
        {{/if}}
    </ol>

