<div class="form-group">
    <label>{{localize "VALOMBREUSE.ui.properties"}}</label>
    <div class="form-fields">
        <label class="checkbox"> <input type="checkbox" name="system.properties.equipable" {{checked system.properties.equipable}}> {{localize "VALOMBREUSE.ui.equipable"}}</label>
{{#if (not system.properties.unique)}}
        <label class="checkbox"> <input type="checkbox" name="system.properties.stackable" {{checked system.properties.stackable}}> {{localize "VALOMBREUSE.ui.stackable"}}</label>
{{/if}}
{{#if (not system.properties.stackable)}}
        <label class="checkbox"> <input type="checkbox" name="system.properties.unique"    {{checked system.properties.unique}}> Unique </label>
{{/if}}
        <label class="checkbox"><input type="checkbox" name="system.properties.2h" {{checked system.properties.2h}}> {{localize "VALOMBREUSE.ui.2Handed"}}</label>
{{#if (not (or (equals system.subtype "melee") (equals system.subtype "ranged")) ) }}
{{#if (not (equals system.subtype "natural") ) }}
        <label class="checkbox"><input type="checkbox" name="system.properties.weapon" {{checked system.properties.weapon}}> {{localize "VALOMBREUSE.properties.damage"}}</label>
        <label class="checkbox"><input type="checkbox" name="system.properties.ranged" {{checked system.properties.ranged}}> {{localize "VALOMBREUSE.properties.ranged"}}</label>
 {{/if}}
 {{/if}}
 {{#if (not (or (equals system.subtype "shield") (equals system.subtype "armor")) ) }}
        <label class="checkbox"><input type="checkbox" name="system.properties.protection" {{checked system.properties.protection}}> {{localize "VALOMBREUSE.properties.protection"}}</label>
 {{/if}}
   <label class="checkbox"> <input type="checkbox" name="system.properties.rechargeable" {{checked system.properties.rechargeable}}> {{localize "VALOMBREUSE.ui.rechargeable"}}</label>
   </div>
</div>
{{#if (not (equals system.subtype "state") ) }}
<div class="form-group">
    <label>{{ localize "VALOMBREUSE.ui.price" }}</label>&nbsp; <input type="number" name="system.price" value="{{system.price}}" data-dtype="Number"/>
</div>
<div class="form-group">
    <label>{{ localize "VALOMBREUSE.ui.rarity" }}</label>&nbsp; <select name="system.rarity" data-type="String" style="width:100%">
    {{#select system.rarity}}
        <option value="">{{localize "VALOMBREUSE.ui.None"}}</option>
        <option value="common">{{localize "VALOMBREUSE.rarity.common"}}</option>
        <option value="moderate">{{localize "VALOMBREUSE.rarity.moderate"}}</option>
        <option value="rare">{{localize "VALOMBREUSE.rarity.rare"}}</option>
        <option value="very-rare">{{localize "VALOMBREUSE.rarity.very-rare"}}</option>
        {{#if (not system.properties.stackable)}}<option value="unique">{{localize "VALOMBREUSE.rarity.unique"}}</option>{{/if}}
    {{/select}}
</select>
</div>
 {{/if}}
{{#if system.properties.stackable}}
    <div class="form-group">
        <label>{{ localize "VALOMBREUSE.ui.quantity" }}</label>
        <div class="form-fields">
            <input type="number" name="system.qty" value="{{system.qty}}" placeholder="{{localize "VALOMBREUSE.ui.quantity"}}" data-dtype="Number"/>
        </div>
    </div>
    <div class="form-group">
        <label>{{localize "VALOMBREUSE.ui.qtymax"}}</label>
        <div class="form-fields">
            <input name="system.qtymax" type="text" value="{{system.qtymax}}" placeholder="{{localize "VALOMBREUSE.placeholders.qtymax"}}" data-dtype="Number">
        </div>
    </div>
{{/if}}