<div class="form-header">{{localize "VALOMBREUSE.ui.properties"}}</div>
    <div class="form-group">
        <label>{{localize "VALOMBREUSE.ui.secretscore"}}</label><input class="center" name="system.score" type="text" value="{{system.score}}" placeholder="{{localize "VALOMBREUSE.ui.secretscore"}}" data-dtype="Number">
    </div>
    <div class="form-group">
    <label>{{localize "VALOMBREUSE.ui.secrettype"}}</label>
    <div class="form-fields">
        <select name="system.type" data-type="String" style="width:100%">
            {{#select system.type}}
                <option value="">{{localize "VALOMBREUSE.ui.None"}}</option>
            {{#each (getSecretCategories)  as |catName cat|}}
                <option value="{{cat}}">{{localize catName}}</option>
            {{/each}}
            {{/select}}
        </select>
    </div>
</div>
    <div class="form-group">
</div>
