<div class="attrvertalign">
<div class="flexcol no-wrap">
    <div id="power_icon" class="flex1 center">
        <input class="field-label-icon-power field-value" name="system.attributes.power.value" type="text" value="{{system.attributes.power.value}}" placeholder="0" data-dtype="Number"/>
    </div>
    <div class="flex1 center">
        <div class="field-label">{{ localize 'VALOMBREUSE.attributes.power.label' }}</div>
    </div>
    <div id="power_icon" class="flex1 center">
        <input class="field-label-icon-power field-value" name="system.attributes.power.max" type="text" value="{{system.attributes.power.max}}" placeholder="0" data-dtype="Number"/>
    </div>
    <div class="flex1 center">
        <div class="field-label">{{ localize 'VALOMBREUSE.attributes.pwmax.label' }}</div>
    </div>
    <div id="power_icon" class="flex1 center">
            <input class="field-label-icon-power field-value" name="system.attributes.xp.value" type="text" value="{{system.attributes.xp.value}}" placeholder="0" data-dtype="Number"/>
        </div>
    <div class="flex1 center">
            <div class="field-label">{{ localize 'VALOMBREUSE.attributes.xp.label' }}</div>
        </div>
        
</div>
</div>