<div class="attrvertalign">
<div class="flexcol no-wrap">
    <div class="flexcol no-wrap">
        <div id="life_icon" class="flex1 center">
            <input class="field-label-icon-hp field-value" name="system.attributes.hp.bonus" type="text" value="{{system.attributes.hp.bonus}}" placeholder="HP" data-dtype="Number"/>
        </div>
        <div class="flex1 center">
            <div class="field-label">{{ localize 'VALOMBREUSE.attributes.hp.label' }}</div>
        </div>
        <div id="life_icon" class="flex1 center">
            <input class="field-label-icon-hp field-value" name="system.attributes.hp.max" type="text" value="{{system.attributes.hp.max}}" placeholder="HP" data-dtype="Number"/>
        </div>
        <div class="flex1 center">
            <div class="field-label">{{ localize 'VALOMBREUSE.attributes.hit.label' }}</div>
        </div>
         <div id="life_icon" class="flex1 center">
            <input class="field-label-icon-hp field-value" name="system.attributes.def.value" type="text" value="{{system.attributes.def.value}}" placeholder="HP" data-dtype="Number"/>
        </div>
        <div class="flex1 center">
            <div class="field-label">{{ localize 'VALOMBREUSE.ui.def' }}</div>
        </div>
    </div>
</div>
</div>