
    <div class="attrvertalign col_carac">
        <div class="attrvertalign">
            <div class="flexcol no-wrap">
                <div id="life_icon" class="flex1 center">
                    <input class="field-label-icon-hp field-value" name="system.offpot" type="text" value="{{system.offpot}}" placeholder="OP" data-dtype="Number"/>
                </div>
                <div class="flex1 center">
                    <div class="field-label">{{ localize 'VALOMBREUSE.minion.offpot.label' }}</div>
                </div>
                <div id="life_icon" class="flex1 center">
                    <input class="field-label-icon-hp field-value" name="system.offpotmax" type="text" value="{{system.offpotmax}}" placeholder="OP" data-dtype="Number"/>
                </div>
                <div class="rollable" data-roll-formula="{{system.offpotma}}" data-roll-type="BandeAttack">
                    <div class="flex1 center">
                        <div class="field-label">{{ localize 'VALOMBREUSE.minion.offpotmax.label' }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>


