<div class="flexrow top">
    <div class="flexcol">
         <div class="flex1 center">
                <span class="titleFont titre-general field-label">{{ localize 'VALOMBREUSE.ui.minion' }}</span>
         </div>
        <!-- NAME -->
        <div class="flexrow">
            <div class="flex4 center cell">
                <input class="field-value charname" name="name" type="text" value="{{actor.name}}" placeholder="Name" data-dtype="String"/>
            </div>
        </div>
        <div class="flexrow no-wrap">
            <div class="flex1 center">
                <div class="field-label">{{ localize 'VALOMBREUSE.minion.moral.label' }}</div>
            </div>
            <div id="life_icon" class="flex1 center">
                    <input class="field-label-icon-hp field-value" name="system.moral" type="text" value="{{system.moral}}" placeholder="NB" data-dtype="Number"/>
            </div>
        </div>
            <!-- /NAME -->
        
    </div>
    <div class="flexcol"id="logo-sceptre">
            <img class="img" src="/systems/valombreuse/assets/images/Clef.webp"/>
    </div>
    <div class="flexcol">
        <div class="attrvertalign">
            <div class="flexcol no-wrap">
                <div class="flexcol no-wrap">
                    <div id="life_icon" class="flex1 center">
                        <input class="field-label-icon-hp field-value" name="system.nb" type="text" value="{{system.nb}}" placeholder="NB" data-dtype="Number"/>
                    </div>
                    <div class="flex1 center">
                        <div class="field-label">{{ localize 'VALOMBREUSE.minion.nb.label' }}</div>
                    </div>
                </div>
            <div class="flexcol no-wrap">
                     <div class="flexcol no-wrap">
                    <div id="life_icon" class="flex1 center">
                        <input class="field-label-icon-hp field-value" name="system.nbmax" type="text" value="{{system.nbmax}}" placeholder="NB" data-dtype="Number"/>
                    </div>
                    <div class="flex1 center">
                        <div class="field-label">{{ localize 'VALOMBREUSE.minion.nbmax.label' }}</div>
                    </div>
                </div>
            </div>
         </div>
        </div>
    </div>
</div>
