<div class="attrvertalign">
<div class="flexcol no-wrap">
    <div id="power_icon" class="flex1 center">
            <input class="field-label-icon-power field-value" name="system.attributes.initiative" type="text" value="{{system.attributes.initiative}}" placeholder="Initiative" data-dtype="Number"/>
        </div>
        <div class="rollable" data-roll-formula="{{system.attributes.initiative}}" data-roll-type="initiative">
            <div class="flex1 center">
                <div class="field-label">{{ localize 'VALOMBREUSE.ui.init' }}</div>
            </div>
        </div>
    <div id="power_icon" class="flex1 center">
        <input class="field-label-icon-power field-value" name="system.damage" type="text" value="{{system.damage}}" placeholder="0" data-dtype="Number"/>
    </div>
    <div class="flex1 center">
        <div class="field-label">{{ localize 'VALOMBREUSE.damage.label' }}</div>
    </div>
     <div id="power_icon" class="flex1 center">
                    <input class="field-label-icon-hp field-value" name="system.Defpot" type="text" value="{{system.Defpot}}" placeholder="DP" data-dtype="Number"/>
                </div>
                <div class="flex1 center">
                    <div class="field-label">{{ localize 'VALOMBREUSE.minion.Defpot.label' }}</div>
                </div>
</div>
</div>