<div class="flexrow no-wrap carac_row">
    <div class="caracname">
              <div class="flex1 rollable no-wrap" data-rolling-attr="CON" title="{{ localize system.stats.con.label }}" data-rolling-value="0" data-roll-type="competencycheck" data-rolling-value="{{system.stats.con.base}}" data-rolling-bonus="0">
                <div class="flexrow no-wrap  carac_label">
                    <div class="icon_d100" title="{{ localize system.stats.con.label }}">
                    </div>
                    <div class="field-label no-wrap left" title="{{ localize system.stats.con.label }}">
                        {{ localize system.stats.con.label }}
                    </div>
                </div>
            </div>
    </div>
     <div id="carac_icon" class="flex1 center cell caracvalue">
        <input class="field-value" name="system.stats.con.base" type="text" value="{{system.stats.con.base}}" data-dtype="Number"/>
    </div>
</div>
