<div class="flexrow top">
    <div class="flexcol">
         <div class="flex1 center">
                <span class="titleFont titre-general field-label">{{ localize 'VALOMBREUSE.ui.veinard' }}</span>
         </div>
        <!-- NAME -->
        <div class="flexrow">
            <div class="flex4 center cell">
                <input class="field-value charname" name="name" type="text" value="{{actor.name}}" placeholder="Name" data-dtype="String"/>
            </div>
        </div>
            <!-- /NAME -->
        <div class="flex1 center">
                <span class="titleFont titre-general field-label">{{ localize 'VALOMBREUSE.ui.origine' }}</span>
         </div>
         <!-- Ordre -->
        <div class="flexrow">
            <div class="flex4 center cell drop-field valombreuse-compendium-pack" data-pack="valombreuse.origine" data-open="0">
                {{#if (getOrigines actor.items)}}
                    {{#with (getOrigines actor.items)}}
                        <span class="field-value charname"/>{{name}}</span>
                        <div class="ordre-controls item" data-item-id="{{_id}}" style="padding-right:5px;">
                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-times"></i></a>
                        </div>
                    {{/with}}
                {{else}}
                    <div class="empty">Ajoutez une Origine&nbsp; <i class="fas fa-atlas"></i> </div>
                {{/if}}
            </div>
        </div> 
    </div>
    <div class="flexcol"id="logo-sceptre">
            <img class="img" src="/systems/valombreuse/assets/images/Clef.webp"/>
    </div>
    <div class="flexcol">
        <div class="flex1 center">
                <span class="titleFont titre-general field-label">{{ localize 'VALOMBREUSE.ui.lignee' }}</span>
         </div>
         <!-- Ordre -->
        <div class="flexrow">
            <div class="flex4 center cell drop-field valombreuse-compendium-pack" data-pack="valombreuse.bloodline" data-open="0">
                {{#if (getLignee actor.items)}}
                    {{#with (getLignee actor.items)}}
                        <span class="field-value charname"/>{{name}}</span>
                        <div class="ordre-controls item" data-item-id="{{_id}}" style="padding-right:5px;">
                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-times"></i></a>
                        </div>
                    {{/with}}
                {{else}}
                    <div class="empty">Ajoutez une Lignée&nbsp; <i class="fas fa-atlas"></i> </div>
                {{/if}}
            </div>
        </div>
    {{#if (IsCharacter actor)}}
         <div class="flex1 center">
                <span class="titleFont titre-general field-label">{{ localize 'VALOMBREUSE.ui.ordre' }}</span>
         </div>
        <div class="flexrow">
            <div class="flex4 center cell drop-field valombreuse-compendium-pack" data-pack="valombreuse.ordre" data-open="0">
                {{#if (getOrdre actor.items)}}
                    {{#with (getOrdre actor.items)}}
                        <span class="field-value charname"/>{{name}}</span>
                        <div class="ordre-controls item" data-item-id="{{_id}}" style="padding-right:5px;">
                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-times"></i></a>
                        </div>
                    {{/with}}
                {{else}}
                    <div class="empty">Ajoutez un Ordre&nbsp; <i class="fas fa-atlas"></i> </div>
                {{/if}}
            </div>
        </div>
    {{/if}}
    </div>
</div>
