<ol class="item-list">
    <li class="item flexrow" data-item-id="{{_id}}" draggable="true">
        <div class="item-name flexrow">
                <div class="item-image flex1" style="background: center/contain no-repeat url('{{img}}')">
                </div>
                <h4>{{name}}</h4>
                <span class="item_tooltiptext">
                    <h1>{{name}} :</h1>{{{system.description}}}
                </span>
        </div> 
    </li>
</ol>
