<div class="flexrow no-wrap carac_row">
    <div class="caracname">
            <div class="flex1 rollable no-wrap" data-rolling-attr="CHA" title="{{ localize system.stats.cha.label }}" data-rolling-value="0" data-roll-type="competencycheck" data-rolling-value="{{system.stats.cha.base}}" data-rolling-bonus="0">
                <div class="flexrow no-wrap carac_label">
                    <div class="icon_d100" title="{{ localize system.stats.cha.label }}">
                    </div>
                    <div class="field-label no-wrap left" title="{{ localize system.stats.cha.label }}">
                        {{ localize system.stats.cha.label }}
                    </div>
                </div>
            </div>
    </div>
     <div id="carac_icon" class="flex1 center cell caracvalue">
        <input class="field-value" name="system.stats.cha.base" type="text" value="{{system.stats.cha.base}}" placeholder="CHA" data-dtype="Number"/>
    </div>
</div>
