<div class="flexrow no-wrap carac_row">
    <div class="caracname">
            <div class="flex1 rollable no-wrap" data-rolling="{{ localize system.stats.vig.label }}" data-roll-type="skillcheck" data-rolling-value="{{system.stats.vig.base}}">
                <div class="flexrow no-wrap carac_label ">
                    <div class="icon_d100" title="{{ localize system.stats.vig.label }}">
                    </div>
                    <div class="field-label no-wrap left" title="{{ localize system.stats.vig.label }}">
                        {{ localize system.stats.vig.label }}
                    </div>
                </div>
            </div>
    </div>
    <div id="carac_icon" class="flex1 center cell caracvalue">
        <input class="field-value" name="system.stats.vig.base" type="text" value="{{system.stats.vig.base}}" data-dtype="Number"/>
    </div>
</div>
