<div class="chat-card aria-roll-chat" data-actor-id="{{actor.id}}">

    <div class="roll-card regular-roll-card">
        <header class="card-header flexrow">
            <img src="{{actor.img}}" title="{{actor.name}}"/>
            
            <div class="flexcol">
                <div class="flexrow">
                    <h4>Action 1 = {{name1}}</h4>
                </div>
                <div class="item-image flex1" style="background: center/contain no-repeat url('{{img1}}')">
                    </div>
                <div class="flexrow">
                    <h4>Action 2 = {{name2}}</h4>
                </div>
                <div class="item-image flex1" style="background: center/contain no-repeat url('{{img2}}')">
                    </div>
            </div>
            
        </header>
     </div>
</div>
