<div class="chat-card valombreuse-roll-chat" data-actor-id="{{actor.id}}">

    <div class="roll-card regular-roll-card">
        <header class="card-header flexcol">
            <h3>{{actor.name}}</h3>
            <img src="{{actor.img}}" title="{{actor.name}}"/>
            <div class="flexrow">
                <b>{{label}}</b>
                <img class="item-img" src="{{img}}" title="{{label}}"/>
            </div>
            <div class="flexrow">
                    <h4>Cible : {{cible.name}}</h4>
                    <img class="item-img" src="{{cible.img}}" title="{{cible.name}}"/>
            </div>
            <div class="flexrow">
                    <div class="flexcol">
                    <h4>Compétence de défense de la cible : {{TargetDefenseSkill}}</h4>
                    <h4>Score de défense de la cible : {{TargetDefenseScore}}</h4>
                    <h4>Marge de l'Attaque: {{Mmargin}}</h4>
                    <h4>Dégats de l'arme : {{wdamage}}</h4>
                    <h4>Dommage de l'Attaque: {{Tdmg}}</h4>
                    <h4>Seuil de Blessure de la Cible: {{SeuilB}}</h4>
                    </div>
            </div>
            <h3>Blessures infligées : {{result}}</h3>
        </header>
     </div>

</div>
