<form class="{{cssClass}}" autocomplete="off">
    <div class="wrap valombreuse-bg-std">
        <header class="sheet-header flexrow header-background no-wrap">
            <img class="profession" src="{{item.img}}" title="{{item.name}}" data-edit="img">
            <div class="header-details flexrow">
                <h1 class="charname">
                    <input name="name" type="text" value="{{item.name}}" placeholder="Item Name"/>
                </h1>
            </div>
        </header>
        {{!-- Sheet Body --}}
        <section class="sheet-body">
            <div class="form-header">{{localize "VALOMBREUSE.details.description"}}</div>
                {{#if (equals item.type "ordre")}}
                    <div class="flexrow description-long">
                {{/if}}
                {{#if (equals item.type "origine")}}
                   <div class="flexrow description-long">
                {{/if}}
                {{#if (equals item.type "bloodline")}}
                   <div class="flexrow description-long">
                {{/if}}
                {{#if (equals item.type "blooddomain")}}
                   <div class="flexrow description">
                {{/if}}
                {{#if (equals item.type "bloodpower")}}
                   <div class="flexrow description-verylong">
                {{/if}}
                {{#if (equals item.type "competence")}}
                   <div class="flexrow description">
                {{/if}} 
                {{#if (equals item.type "item")}}
                   <div class="flexrow description">
                {{/if}} 
                {{editor descriptionHTML target="system.description" button=true owner=owner editable=editable}}
            </div>
            <div class="details">
                {{#if (equals item.type "competence")}}
                    {{> "systems/valombreuse/templates/items/parts/details/competence-details.hbs"}}
                {{/if}}
                {{#if (equals item.type "ordre")}}
                    {{> "systems/valombreuse/templates/items/parts/details/ordre-details.hbs"}}
                {{/if}}
                {{#if (equals item.type "origine")}}
                    {{> "systems/valombreuse/templates/items/parts/details/origines-details.hbs"}}
                {{/if}}
                {{#if (equals item.type "bloodline")}}
                    {{> "systems/valombreuse/templates/items/parts/details/bloodline-details.hbs"}}
                {{/if}}
                {{#if (equals item.type "blooddomain")}}
                    {{> "systems/valombreuse/templates/items/parts/details/blooddomain-details.hbs"}}
                {{/if}}
            </div>
        </section>
    </div>
</form>